.PeliculaCard {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;

}
.movieCard:hover{
    opacity: 0.8;
}

.movieImage{
    border-radius: 10px;
    background-color:aliceblue;
}

.title{
    display: flex;
    justify-content: center;
    color: rgb(225, 225, 225);
}

@media (max-width: 560px){
    .movieImage{
        width: 90%;
        height: auto;
    }
}