.searchContainer{
    display: flex;
    justify-content: center;

}

.searchbox{
    position: relative;
}

.searchInput{
    font-size: 1.2rem;
    height: 30px;
    border-radius: 10px;
    padding: 5px 40px 5px 10px;

}

.searchInput:focus{
    outline: none;
    
}

.searchButton{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;

    border: none;
    background: none;

}